.loading-screen {
    z-index: 9999;
    position: fixed;
}

.navbar-fixed {
    z-index: 1000;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 10px;
    background: lightsteelblue;
    border: 1px;
}