.loading-screen {
    z-index: 9999;
    position: fixed;
}

.navbar-fixed {
    z-index: 1000;
}

.tooltip {
    position: absolute;
    text-align: left;
    padding: 10px;
    background: lightsteelblue;
    border: 1px;
}

.tooltip p, .tooltip h5 {
    margin: 0px
}

.y-axis-left path, .y-axis-left line, .y-axis-left text  {
    stroke: #31a354;
}

.y-axis-left text, .y-axis-right text, .x-axis text, .axis_label {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

.y-axis-right path, .y-axis-right text, .y-axis-right line {
    stroke: #fc9272;
}

.pie-chart {
    transition: all .25s ease-in-out;
}

.pie-chart:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
}